Debug/
Release/
RelWithDebInfo/
build*/
tools/
tags
/test/output*/
/test/suupdate/
/test/n*.txt
/test/facts*/
/test/ctest/facts/
/test/ctest/output/
/test/riltest/facts/
/test/riltest/output/

*.bak
*.suo
*.user
*.vsp
*.vspx
*.sln
*.psess
*.ll
*.bc
*.sln.*
.vs/
projects/gen/
header*.bc

compile_commands.json

config

ctxt_test*.dl
gen_ctxt*.dl

edge.facts

